html{
    scroll-behavior: smooth;
}

*{
    font-family: 'Roboto', sans-serif;
}

body{
    background-color: #0A192F;
}

a{
    text-decoration:none;
    color: #2CCED2;
}

.navbar{
    list-style-type:none;
    display: flex;
    color: #2CCED2;
    justify-content: flex-end;
    margin-right: 30px;
}

.main_text{
    margin-left: 15%;
    margin-top: 10%;
}

.text_1{
    color: #2CCED2;
    font-size: 40px;
}

.text_2{
    color: white;
    font-size: 80px;

}

.text_3{
    color: #76CDCD;
    font-size: 50px;
}

.bttn{
    display: flex;
    margin-left: 16%;
    margin-top: 10%;
    
}

.btn{
    font-size: 18px;
    font-weight: bold;
    background-color: #2CCED2;
    width: 260px;
    padding: 20px;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    color: black;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    -webkit-transition-duration: 0.4s;
    transition-duration: 0.4s;
}

.btn:hover, .btn:focus, .btn:active{
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
}

.all_about{
    display: flex;
    justify-content: space-around;
}

.about{
    color: #2CCED2;
    font-size: 20px;
    margin-top: 5%;
    display: flex;
    margin-left: 20%;
    margin-right: 20%;
    flex-direction: column;

}

img{
    width: 300px;
    height: 320px;
    border-radius: 30%;
    overflow: hidden;
}

.pdp{
    display: flex;
    margin-top: 10%;
    margin-right: 10%;

}

.about_text{
    display: flex;
    color: #76CDCD;
    font-size: 25px;

}

.container{
    padding: 100px;
}

.line{
    width: auto;
    height: 45px;
    position: relative;
}

.line:after, .line:before{
    content: " ";
    position: absolute;
    margin: auto;
    height: 2px;
    background: #fff;
    width: 45%;
    top: 45%;
}

.line::after{
    left: 0;
}

.line::before{
    right: 0;
}

.square{
    height: 40px;
    width: 40px;
    border: 2px solid #fff;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
    transform: rotate(45deg)
}

.circle{
    height: 40px;
    width: 40px;
    border: 2px solid #fff;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
    border-radius: 50%;
}

.experience{
    color: #2CCED2;
    font-size: 20px;
    text-align: center;
}

.exp_text{
    color: #76CDCD;
    font-size: 25px;
    text-align: center;
    margin-left: 10%;
    margin-right: 10%;
}

svg{
    width: 40px;
    height: 40px;
    display: flex;
}

.contact{
    display: flex;
    justify-content: space-around;
}

.end{
    font-size: 20px;
    text-align: center;
    color: #2CCED2
}