@import url('https://fonts.googleapis.com/css2?family=Arimo&family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;1,100;1,200;1,300;1,400&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

*{         
    background-color: black;
    font-family: 'Montserrat', sans-serif;
}

/* logo display */

.full_logo{
    margin-top: -15%;
}
.short_logo{    
    display: none;
}

/* Call to action style */

main{   
    display: flex;
    justify-content: center;
    margin-top: -8%;
}
a{   
    color: white;
    background-color: #FF0000;
    text-decoration: none;
    font-size: 5em;
    transition: transform .2s;
    border-radius: 4px;
    width: 600px;
    display: flex;
    justify-content: center;
}
a:hover{   
    transform: scale(1.2);
}

/* Responsive related */


@media screen and (max-width: 900px) {
    .short_logo{               
        display: block;         
        max-width: 50vw;
    }
    .full_logo{                 
        display: none;          
    }
    a{
        font-size: calc(40px + 3.3vw);      
    }
    header{                     
        display: flex;
        justify-content: center;    
        margin-bottom: 15%;
        margin-top: 20%;
    }
    main{
        margin: auto;
    }

}
